# Scouter
elasticsearch==6.5.1

# Document graph analysis
numpy
python-igraph

# Multi-doc summarization
torch==1.0.0
six
future
configargparse
torchtext==0.4.0

# Image Retirevve
cloudsight==0.9.2
clarifai==2.0.21
watson-developer-cloud==0.25.2
Jinja2==2.9.6
boto3==1.4.4
Pillow==8.2.0
